@page "/Users/register"
@layout RegisterLayout
@inject HttpClient Http
@inject NavigationManager Navigation


<div style="display:grid;justify-items:center;align-items:center;min-height:100vh">
    <div class="col-md-8">
        <h1 class="text-center">Registra tu Cuenta</h1>

        <FormularioRegistro TextoBoton="Registrarse" OnValidSubmit="@RegisterUser" user="@user"> </FormularioRegistro>
    </div>
</div>

@code {

    Users user = new Users();
    public string baseUrl = "https://localhost:44348/";

    async Task RegisterUser()
    {
        await Http.PostAsJsonAsync($"{baseUrl}api/Users",user);
        Navigation.NavigateTo("/Users/login");
    }
}
