@page "/editproduct/{Id:int}"
@inject HttpClient Http
@inject NavigationManager Navigation
@inject IJSRuntime JS
@attribute [Authorize]
@{
    string foto = product.Photo;
}

<AuthorizeView>
    <Authorized>
        <h1>Editar producto</h1>
        <br />

        <FormularioProduct TextoBoton="Editar" OnValidSubmit="@Editar" product="@product" onchange="@previewdata" />
    </Authorized>
</AuthorizeView>


@code {
    [Parameter] public int Id { get; set; }

    public string baseUrl = "https://localhost:44348/";
    Product product = new Product();


    async Task Editar()
    {
        string endpoint = $"{baseUrl}api/Product/{Id}";
        string imgData = await JS.InvokeAsync<string>("obtenerImagen");
        product.Photo = imgData;
        await Http.SendJsonAsync(HttpMethod.Put, endpoint, product);
        Navigation.NavigateTo("catalog");
        StateHasChanged();

    }

    protected async override Task OnParametersSetAsync()
    {
        product = await Http.GetJsonAsync<Product>($"{baseUrl}api/Product/{Id}");
    }

    protected async Task previewdata()
    {
        await JS.InvokeVoidAsync("previewData");
    }

}
