@page "/editproduct/{Id:int}"
@inject HttpClient Http
@inject NavigationManager Navigation

<h1>Editar producto</h1>
<br />

<FormularioProduct TextoBoton="Editar" OnValidSubmit="@Editar" product="@product" />

@code {
    [Parameter] public int Id { get; set; }

    public string baseUrl = "https://localhost:44348/";
    Product product = new Product();


    async Task Editar()
    {
        string endpoint = $"{baseUrl}api/Product/{Id}";
        await Http.SendJsonAsync(HttpMethod.Put, endpoint, product);
        Navigation.NavigateTo("catalog");
        StateHasChanged();

    }

    protected async override Task OnParametersSetAsync()
    {
        product = await Http.GetJsonAsync<Product>($"{baseUrl}api/Product/{Id}");
    }


}
