@page "/"
@namespace arathsbaby_web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Araths Baby</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap/StyleLogin.css" />
    <link rel="stylesheet" href="~/css/bootstrap/inicio.css" />
    <link rel="stylesheet" href="~/css/bootstrap/StyleRegister.css" />
    <link href="css/site.css" rel="stylesheet" />

</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v7.0&appId=600811817302853&autoLogAppEvents=1" nonce="J8ed9s4d"></script>
    <script src="~/js/Utilidades.js"></script>
    <script src="_framework/blazor.server.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
        function previewData() {
            var reader = new FileReader();
            reader.readAsDataURL(document.getElementById("fuFoto").files[0]);

            reader.onloadend = function () {
                document.getElementById("imgFoto").src = reader.result;
            }

        }

        function obtenerImagen() {
            return document.getElementById("imgFoto").src;
        }
    </script>
</body>
</html>
