@page "/"

    <div style="display:grid;justify-items:center;align-items:center;min-height:50vh">

        <div class="contenedor-img text-center">
            <div class="text-center">
                <img src="https://scontent.fntr8-1.fna.fbcdn.net/v/t1.15752-9/117362299_2394527957515792_341084832117199564_n.png?_nc_cat=101&_nc_sid=b96e70&_nc_ohc=NYILRrcFZKkAX9PZWqR&_nc_ht=scontent.fntr8-1.fna&oh=26b55d79547a0b1039a3d18339adbf58&oe=5F5D30B4"
                     alt="Alternate Text" style="height:520px;width:770px;" />
            </div>
           
        </div>

        <div class="logo text-center">
            <div class="row">
                <div class="col-md-6">
                    <div class="logow">
                        <a href="https://walink.co/9483ae"> <img src="/image/wlogo.png" width="90" height="90" alt="logo"></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="logf">
                        <a href="https://www.facebook.com/ARATHSBABY9"> <img src="/image/logfa.png" width="80" height="80" alt="logo"></a>
                    </div>
                </div>
            </div>
        </div>
        
        <br />

        <div class="contenedor-text text-center">
            <div class="quienes-somos">
                <span style="font-weight:bold">¿Quiénes somos?</span>
            </div>
            <div class="somos">
                <span>Somos una tienda en linea regiomontana comprometida</span>
                <p><span>con ofrecerte los mejores productos para tu bebe!</span></p>
                <p><span>Ofreciendo envíos a toda la República Mexicana.</span></p>
            </div>
        </div>
        
        <br />

        <div class="ubicacion text-center">
            <span>Nos pueden ubicar en:</span>
            <a href="https://goo.gl/maps/QbZsErgZTLYFZ6MM8"><p>Arboledas de Sta Rosa, 3 Sector Oriente, 66614 Cd Apodaca, N.L.</p></a>
        </div>
    </div>
