@page "/"

<h1>Bienvenido, a ArathsBaby!</h1>

@*slider*@

<div class="card-deck">
    <div class="card">
        <img src="https://scontent.fntr8-1.fna.fbcdn.net/v/t1.0-9/116709830_716936425828446_1685155140387397909_n.jpg?_nc_cat=109&_nc_sid=8bfeb9&_nc_ohc=pkTD_DVPu5cAX81h2ft&_nc_ht=scontent.fntr8-1.fna&oh=33c3b31221c9602963cfd5f3ca0b2a2c&oe=5F570F7A" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Estrellas decorativas</h5>
            <p class="card-text">Descripcion de producto</p>
            <h4 class="card-text">Stock</h4>
            <p class="card-text">20</p>
            <h4 class="card-text">Color</h4>
            <p class="card-text">Verde</p>
            <h3 class="card-text" style="align-content:center">$100.00</h3>
        </div>
    </div>
    <div class="card">
        <img src="https://scontent.fntr8-1.fna.fbcdn.net/v/t1.0-9/116709830_716936425828446_1685155140387397909_n.jpg?_nc_cat=109&_nc_sid=8bfeb9&_nc_ohc=pkTD_DVPu5cAX81h2ft&_nc_ht=scontent.fntr8-1.fna&oh=33c3b31221c9602963cfd5f3ca0b2a2c&oe=5F570F7A" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Estrellas decorativas</h5>
            <p class="card-text">Descripcion de producto</p>
            <h4 class="card-text">Stock</h4>
            <p class="card-text">20</p>
            <h4 class="card-text">Color</h4>
            <p class="card-text">Verde</p>
            <h3 class="card-text" style="align-content:center">$100.00</h3>
        </div>
    </div>
    <div class="card">
        <img src="https://scontent.fntr8-1.fna.fbcdn.net/v/t1.0-9/116709830_716936425828446_1685155140387397909_n.jpg?_nc_cat=109&_nc_sid=8bfeb9&_nc_ohc=pkTD_DVPu5cAX81h2ft&_nc_ht=scontent.fntr8-1.fna&oh=33c3b31221c9602963cfd5f3ca0b2a2c&oe=5F570F7A" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Estrellas decorativas</h5>
            <p class="card-text">Descripcion de producto</p>
            <h4 class="card-text">Stock</h4>
            <p class="card-text">20</p>
            <h4 class="card-text">Color</h4>
            <p class="card-text">Verde</p>
            <h3 class="card-text" style="align-content:center">$100.00</h3>
        </div>
    </div>
</div>

<br />

<div class="card-deck">
    <div class="card">
        <img src="https://scontent.fntr8-1.fna.fbcdn.net/v/t1.0-9/116709830_716936425828446_1685155140387397909_n.jpg?_nc_cat=109&_nc_sid=8bfeb9&_nc_ohc=pkTD_DVPu5cAX81h2ft&_nc_ht=scontent.fntr8-1.fna&oh=33c3b31221c9602963cfd5f3ca0b2a2c&oe=5F570F7A" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Estrellas decorativas</h5>
            <p class="card-text">Descripcion de producto</p>
            <h4 class="card-text">Stock</h4>
            <p class="card-text">20</p>
            <h4 class="card-text">Color</h4>
            <p class="card-text">Verde</p>
            <h3 class="card-text" style="align-content:center">$100.00</h3>
        </div>
    </div>
    <div class="card">
        <img src="https://scontent.fntr8-1.fna.fbcdn.net/v/t1.0-9/116709830_716936425828446_1685155140387397909_n.jpg?_nc_cat=109&_nc_sid=8bfeb9&_nc_ohc=pkTD_DVPu5cAX81h2ft&_nc_ht=scontent.fntr8-1.fna&oh=33c3b31221c9602963cfd5f3ca0b2a2c&oe=5F570F7A" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Estrellas decorativas</h5>
            <p class="card-text">Descripcion de producto</p>
            <h4 class="card-text">Stock</h4>
            <p class="card-text">20</p>
            <h4 class="card-text">Color</h4>
            <p class="card-text">Verde</p>
            <h3 class="card-text" style="align-content:center">$100.00</h3>
        </div>
    </div>
    <div class="card">
        <img src="https://scontent.fntr8-1.fna.fbcdn.net/v/t1.0-9/116709830_716936425828446_1685155140387397909_n.jpg?_nc_cat=109&_nc_sid=8bfeb9&_nc_ohc=pkTD_DVPu5cAX81h2ft&_nc_ht=scontent.fntr8-1.fna&oh=33c3b31221c9602963cfd5f3ca0b2a2c&oe=5F570F7A" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Estrellas decorativas</h5>
            <p class="card-text">Descripcion de producto</p>
            <h4 class="card-text">Stock</h4>
            <p class="card-text">20</p>
            <h4 class="card-text">Color</h4>
            <p class="card-text">Verde</p>
            <h3 class="card-text" style="align-content:center">$100.00</h3>
        </div>
    </div>
</div>  
